body {
  background-color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
}

.inputbox {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 1250px;
  height: 40px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-style: italic;
}

.forminput {
  text-align: center;
}

.list-container {
  font-size: 18px;
  height: 25px;
  margin-left: 250px;
  margin-right: 250px;
  list-style-type: none;
}

.tasklist {
  height: 25px;
  color: white;
  border-radius: 5px;
  border: solid;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: #7289DA;
}

.complete-btn {
  font-family: 'Montserrat', sans-serif;
  height: 30px;
  width: 100px;
  background-color: #7289DA;
  color: #eeeeee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  content: right;
}

input:focus {
  outline: none;
}

.p-tag {
  border: none;
  border-radius: 5px;
  width: 460px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  padding-top: 5px;
  color: #eeeeee;
  background-color: #7289DA;
  text-align: center;
}

.tasklist-form {
  text-align: center;
}

.navbar-list:before {
  content: "/ ";
}

.navbar-list {
  display: inline;
}

.navbar-container {
  list-style-type: none;
}

.navbar-link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding-right: 5px;
  padding-left: 5px;
}

.navbar-link:visited {
  color: black;
}

.navbar-link:hover {
  color: #7289DA;
}

.index-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 50px;
}

.title-page {
  text-align: center;
  font-size: 22px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  background-color: #7289DA;
  color: #eeeeee;
  height: 50px;
  font-weight: bold;
}

.p-title {
  padding-top: 10px;
}

.taskr-logo {
  margin-top: 150px;
}
